* {
  padding: 0;
  margin: 0;
  border: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.top_navigation_menu {
  list-style-type: none;
  text-align: center;
  margin-top: 26px;
}

.top_navigation_menu a {
  text-decoration: none;
  display: inline-block;
  margin-right: 72px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2.7px;
  text-transform: uppercase;
  color: #ff0000;
}

.top_navigation_menu li {
  display: inline-block;
}

.main_photo {
  width: 100%;
  height: auto;
  margin-top: 26px;
}

.main_title {
  text-align: center;
  margin-top: 48px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  color: #373737;
}

.first_paragraph {
  text-align: center;
  margin-top: 38px;
  padding-left: 68px;
  padding-right: 68px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}

.second_paragraph {
  text-align: center;
  margin-top: 28px;
  padding-left: 68px;
  padding-right: 68px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  color: #373737;
}

.start_button {
  margin: 0 auto;
  display: block;
  text-decoration: none;
  text-align: center;
  width: 105px;
  height: 16px;
  border-radius: 4px;
  margin-top: 66px;
  padding: 18px 44px 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #ff0000;
}

.start_button:hover {
  cursor: pointer;
  background-color: firebrick;  
}

.copyright {
  margin-top: 82px;
  padding-bottom: 30px;
  text-align: right;
  padding-left: 714px;
  padding-right: 106px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 2.4px;
  color: #373737;
}
